html {
    background-image: url('./space.jpg');
    background-size: stretch;
    background-color: #000;
    color: rgb(255, 196, 68);
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    width: 80%;
}

fieldset {
    display: flex;
    flex-direction: column;
    background-color: midnightblue;
    border: 1px solid #007a99;
    box-shadow: 5px 5px 5px #999;
    padding: 20px;
    margin-top: 20px;
    width: 100%;
}

.button {
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;
    width: 25%;
    height: 25px;
}

